nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: thistle;
  padding: 1.5rem;
  font-size: large;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  color: #333;
}

.links {
  display: flex;
  gap: 30px;
}

.a {
  font-weight: 500;
  color: #333;
  text-decoration: inherit;
}
.a:hover {
  color: #646cff;
}

.cartLength {
  background-color: #f76363;
  border-radius: 50px;
  padding: 1px 12px;
  font-weight: bold;
  color: white;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
  }
  .form {
    width: 90%;
  }
}
