@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 50px;
}

.loading {
  font-family: Poppins;
  justify-self: center;
  position: absolute;
  font-weight: 500;
  font-size: large;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 420px) {
  .productsGrid {
    padding: 20px 10px;
  }
}
