.main {
  min-height: calc(100vh - 1.5rem - 20vh);
}

.footer {
  margin-top: 20px;
  padding: 20px;
  height: 20vh;
  background-color: rgba(72, 61, 139, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.a {
  color: gold;
}

@media (max-width: 650px) {
  .footer {
    font-size: small;
  }
}
